.board {
  display: flex;
  justify-content: space-between;

  width: var(--kanban-board-width);
  margin: auto;
  margin-top: 2em;
}

.cardColumnContainer {
  flex: 1;
}


.header {
  background-color: var(--clr-surface);
  color: var(--clr-on-surface);

}

.headerContainer {
  width: var(--kanban-board-width);
  margin: auto;

  padding: 1em 0;
}

.headerForm {
  display: flex;
  flex-direction: column;
  width: fit-content;
  row-gap: 0.5em;
  
  min-width: 12vw;

  padding: 1em;

  background-color: var(--clr-surface);
  border: var(--border-size-0) solid var(--clr-border);
  border-radius: var(--border-radius-8);
}

.headerFormPicker {
  width: 100%;
  display: grid;
  font-size: var(--font-size-12);
  grid-template-columns: 65% 35%;
}

.headerFormLabel {
  font-size: 1.25em;
  align-self: center;
}

.headerFormSelect {
  font-size: var(--font-size-12);
  background-color: var(--clr-surface);
  border: var(--border-size-0) solid var(--clr-border);
  border-radius: 0.2rem;
}


.kanbanBoard {

  --kanban-board-width: 90%;
  min-height: 100vh;
}
